@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    line-height: 1.7;
}

:root {
    --green: #088F33;
    --darkgreen: #0B732B;
    --white: #fff;
    --orange: #ED7702;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

.con {
    max-width: 1200px;
    margin: auto;
}

.top {
    background-color: var(--green);
    padding: 10px 0;
    color: var(--white);
    font-size: 13px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.con marquee {
    padding-left: 300px;
}

.top ul {
    display: flex;
    gap: 10px;
}

.social a {
    color: var(--green);
    background: var(--white);
    display: block;
    padding: 4px 10px;
    border-radius: 50%;
}

.social a:hover {
    background: var(--orange);
    color: var(--white);
}

.info a {
    color: var(--white);
}

.header {
    background: var(--darkgreen);
}

nav ul {
    display: flex;
}

.logo {
    position: absolute;
    top: -15px;
    border: 5px solid var(--orange);
    z-index: 999;
}

nav li a {
    padding: 25px 20px;
    color: var(--white);
    display: inline-block;
}

nav li a:hover {
    background: var(--orange);
}

.banner img {
    width: 100%;
}

.banner {
    position: relative;
}

.banner-content {
    position: absolute;
    right: 3%;
    bottom: 50%;
    color: var(--white);
}

.btn {
    display: inline-block;
    background-color: var(--orange);
    color: var(--white);
    padding: 15px;
}

.banner-content p {
    padding: 15px 0;
}

.select {
    position: relative;
    background: #0B732B;
    width: 60%;
}

.wlc {
    padding: 35px 0;
}

.wlc-left h4 {
    padding-bottom: 10px;
}

.wlc-right h4 {
    background: var(--darkgreen);
    color: var(--white);
    padding: 10px;
}

span {
    background: var(--darkgreen);
    color: var(--white);
    padding: 10px;
}

.flex1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.wlc-left {
    width: 70%;
}

.wlc-left a {
    display: block;
    justify-content: end;
    align-items: center;
    margin-left: 700px;
}

.wlc-right {
    width: 25%;
}

.wlc-right li:before {
    content: '→';
    color: #0B732B;
}

.wlc-right ul {
    padding: 15px 0px;
}

.wlc-right ul li {
    padding-bottom: 5px;
}

.featured {
    padding: 35px 0;
    border-top: 2px solid #ccc;
}

.featured h3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--darkgreen);
}

.card-img {
    position: relative;
    height: 250px;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    transition: 0.9s;
}

.card-img h3 {
    position: absolute;
    color: var(--white);
    background: var(--orange);
    padding: 5px;
    bottom: 0;
    left: 0;
}

.card-img img:hover {
    transform: scale(1.2);
}

.trip {
    padding: 25px 0;
}

.trip h2 {
    text-align: center;
    color: var(--darkgreen);
}

.trip ul {
    display: flex;
    justify-content: center;
}

.trip ul li {
    font-size: 14px;
    padding: 30px 0px;
}

.trip ul li a {
    background: var(--green);
    color: var(--white);
}

.trip ul li a:hover {
    background: var(--orange);
}

.content {
    position: relative;
    width: 32%;
}

.contentbox {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 128, 0, 0.741);
    color: var(--white);
    width: 100%;
}

.content img {
    width: 100%;
}

.fwrap {
    flex-wrap: wrap;
    gap: 20p;
}

.last {
    background: #333;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
    padding-top: 50px;
}

.box h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.box li {
    padding-bottom: 15px;
}

.last1 {
    background: #333;
    height: 150px;
    color: white;
    text-align: center;
}

.box1 {
    display: flex;
    justify-content: space-evenly;
}

.box2 h5 {
    padding: 10px 0;
}

footer {
    background: #0b732b;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

footer p {
    margin: auto;
}

.search {
    max-width: 900px;
    background: var(--white);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

select {
    background: transparent;
    padding: 5px;
    border: 1px solid var(--darkgreen);
}

.ttt {
    background: var(--darkgreen);
    color: var(--white);
    padding: 30px;
}

.days {
    background: var(--orange);
    color: var(--white);
    padding: 20px;
}

.con1{
    padding-left: 10px;
}
.con2{
    padding-bottom: 20px;
}